*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  --primary: #202327;
  --secondary: #007CBE;
  --accents: #FBAF00;
  --text: #FFFFFF;
}

body
{
  min-width: 375px;
  padding-bottom: 5rem;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.header-container
{
  width: 90%;
  height: 10vh;
  margin-bottom: 5rem;
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid var(--secondary);
}

div.name-container
{
  width: 30%;
  display: flex;
  justify-content: center;
}

div.brand-container
{
  width: 70%;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
}

div.main-container
{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.about-container
{
  width: 100%;
  height: 30vh;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.about-container div.title-container
{
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--secondary);
}

section.about-container div.text-container
{
  width: 70%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.about-text
{
  width: 75%;
}

/* == Text in border effect == */
div.border-box
{
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--secondary);
}

span.title-box
{
  padding: 0 2rem;
  position: absolute;
  top: -1.2rem;
  background-color: var(--primary);
}

/* == Project List == */
section.project-container
{
  width: 100%;
  height: 40vh;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.project-container div.title-container
{
  width: 30%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid var(--secondary);
}

div.detail-container
{
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a.image-container
{
  text-align: center;
}

img.project-image
{
  width: 45%;
  border-radius: 3%;
}

p.project-text
{
  width: 75%;
  text-align: center;
}

a
{
  text-decoration: none;
  color: var(--secondary);
}

footer.footer-container
{
  width: 90%;
  height: 6vh;
  position: fixed;
  bottom: 0;
  background-color: var(--primary);
  border-top: 2px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.icon-container a
{
  color: var(--text);
}

img:hover
{
  cursor: pointer;
  box-shadow: 0 0 1.2rem var(--accents);
}

a.text-link:hover
{
  color: var(--accents);
}

a.icon-link:hover
{
  box-shadow: 0 0 1.2rem var(--accents);
  color: var(--accents);
}

@media only screen and (max-width: 595px)
{
  section.project-container
  {
    height: 60vh;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
  }

  section.project-container div.title-container
  {
    width: 50%;
    height: 10vh;
    border-right: 0;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
  }

  div.detail-container
  {
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  img.project-image
  {
    width: 60%;
  }

  p.project-text
  {
    width: 100%;
    text-align: center;
  }
}